[submodule "cookbooks/elasticsearch"]
	path = cookbooks/elasticsearch
	url = https://github.com/mattbaird/elasticsearch-chef.git
	branch = master
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
	branch = master
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
	branch = master
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
	branch = master
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx.git
	branch = master
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
	branch = master
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
	branch = master
[submodule "cookbooks/mercurial"]
	path = cookbooks/mercurial
	url = https://github.com/opscode-cookbooks/mercurial.git
	branch = master
